@{
    var rol = Context.Session.GetString("UsuarioRol");
}

@if (rol == "Administrador")
{
    <a asp-action="Admin" asp-controller="Home">Admin</a>
}
@if (rol == "Ventas")
{
    <a asp-action="Ventas" asp-controller="Home">Ventas</a>
}
@if (rol == "Distribuidor")
{
    <a asp-action="Distribuidor" asp-controller="Home">Distribuidor</a>
}
